<li id="<%= dom_id(recipe) %>" class="clearfix">



  <%= link_to recipe, class: "row" do %>

    <div class="small-4 columns truncate" title="<%= recipe.title %>"><%= recipe.title %></div>
    <div class="small-4 columns truncate" title="<%= recipe.coffee %>"><%= recipe.coffee %> grams</div>
    <div class="small-4 columns truncate" title="<%= recipe.water %>"><%= recipe.water %>ml</div>
  <% end %>

</li>
