<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
<div class="recipe" id="<%= dom_id(recipe) %>"
  <h2><%= recipe.title %></h2>
  <p><%= recipe.description %></p>
  <ul class="functions">
    <li><%= link_to 'Show', recipe %></li>
    <li><%= link_to 'Edit', edit_recipe_path(recipe) %></li>
    <li><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
  <br class="clear" />
</div>
<% end %>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
