<div class="page-header">
  <h1>All of the Recipes</h1>
</div>

<% @recipes.each do |recipe| %>
<div class ="recipe">
  <strong><%= recipe.title %></strong>
  <p><%= recipe.description %></p>
  <div class="meta">
    <%= link_to "Show", recipe %>
    <span class ="admin">
      <%= link_to "Edit", edit_recipe_path(recipe) %>
      <%= link_to "Delete", recipe, method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %>
    </span>
  </div>
</div>

<% end %>
