<% title "Recipes" %>

<h2 class="page-title">Recipes</h2>
<ul class="recipes no-bullet">
<% @recipes.each do |recipe| %>
  <li id="<%= dom_id(recipe) %>" class="clearfix">
    <%= link_to recipe, class: "row" do %>
      <div class="small-10 medium-11 columns truncate" title="<%= recipe.title %>"><%= recipe.title %></div>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to 'New Recipe', new_recipe_path %>
