<%= title @recipe.title %>


<p>
  <strong>Coffee:</strong>
  <%= @recipe.coffee %>
</p>

<p>
  <strong>Water:</strong>
  <%= @recipe.water %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @recipe.seconds %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
