<div class="row collapse recipe-title">
  <div class="small-11 columns">
    <h2 class="page-title truncate"><%= @recipe.title %></h2>
  </div>
  <div class="small-1 columns">
    <span class="fa fa-caret-down">
  </div>
</div>

<div class="row hide" id="recipe-functions">
  <div class="small-4 columns">
    <%= link_to edit_recipe_path(@recipe), class: "button expand radius outline" do %>
    <span class="fa fa-edit"></span>
    Edit
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= link_to edit_recipe_path(@recipe), class: "button expand radius outline", data: { "reveal-id" => "email=modal" } do %>
    <span class="fa fa-envelope-o"></span>
    Email
    <% end %>
  </div>
  <div class="small-4 columns">
    <%= link_to recipes_path(@recipe), class: "button expand radius outline alert", method: :delete, data: {confirm: "Are you sure you want to delete this recipe? There is no undo."} do %>
    <span class="fa fa-trash-o"></span>
    Delete
    <% end %>
  </div>
</div>

<p>
  <strong>Coffee:</strong>
  <%= @recipe.coffee %>
</p>

<p>
  <strong>Water:</strong>
  <%= @recipe.water %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @recipe.seconds %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
