<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %>coffeeFilter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <%= render partial: "layouts/flash" %>




  <header class="row global-header">
    <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns">
      <%= render partial: 'layouts/header' %>
    </div>
  </header>


  <div class="row collapse">
    <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns">
      <%= yield %>
    </div>
  </div>

  <footer class="row global-footer">
    <div class="small-6 medium-8 text-center medium-centered large-6 columns">
      <% if logged_in? %>
        <%= link_to "Settings", edit_user_path(current_user) %>
      <% else %>
        <%= render partial: 'layouts/header_logged_out' %>
      <% end %>
    </div>

  <footer>

</body>
</html>
